@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load theme before React hydration */
:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
.dropdown:hover .dropdown-menu {
  display: block;
}